extends base

block append head
    link(rel='stylesheet' href='css/allProducts.css')


block content
    main#products.prodocts
      .all-prodocuts-con.all-prodocuts-con_booking
      
        h1.my-orders-title=  `目前有 ${orders.length} 個購買紀錄`
       
        each order, i in orders
            .product-con.product-con-booking
                .order-date-total
                    - const dateTime = order.createdAt.toLocaleString({month: 'long', year:'numeric'}).split(',')
                      
                    p.order-date 
                        i.fas.fa-table
                        =`訂購日期：${dateTime[0].trim()}`
                    //- p.order-time
                    //-     i.fas.fa-clock
                    //-     =`時間：${dateTime[1].trim()}`
  
                    .oder-total
                        i.fas.fa-coins
                        = `總額：${order.products.reduce((acc, ele)=> acc + ele.quantity * ele.price ,0)}`
                    
                    p.order-time
                        i.fas.fa-clock
                        =`取貨時間：${order.pickupTime.split('-').join('/')}，上午 6 點至中午 12 點` 

                .all-orders
                    each product in order.products
                        .product-order
                            a: img.product-img.product-img-order(src=`img/products/${product.image}` data-overview-img= product.image)
                            .info-con-order     
                                p.price= `${product.name} $${product.price} * ${product.quantity}`
                                 - const dateTime = order.createdAt.toLocaleString({month: 'long', year:'numeric'}).split(',')

                                .manage-review-con
                                    a(href= `${product.reviewSubmitted? `/review-update-form/${product._id}/${product.review}` : `/review-form/${product._id}/${order._id}`}`  class=`${product.reviewSubmitted? 'update-review-btn' : ''}`).write-review-btn
                                        if product.reviewSubmitted
                                            i.fas.fa-edit
                                        else 
                                            i.fas.fa-pencil-alt
                                        = `${product.reviewSubmitted ? '更新意見' : '填寫意見'}`
                                 
                               
                   

                

               



       

    