extends base

block append head
    link(rel='stylesheet' href='/css/review.css')

block content
    
    .review-container
        .review-image-box
            img.review-img(src=`/img/products/${product.imageCover}` alt=`${product.name} image`)
        .review-detail-con
            p.review-product-name #{product.name}
            .stars
                each star, i in [1, 2, 3, 4, 5]
                    i.fas.fa-star(data-star-id=`${i+1}` class=`star-${i+1}`)

            
            textarea.review-detail(placeholder='您的意見')
            .review-tips-con
                h3 填寫意見小提醒
                .all-tips
                    .tip
                        i.far.fa-check-circle
                        p
                            | 請分享您對該產品的真實意見！資訊越詳實越好。
                    .tip
                        i.far.fa-check-circle
                        p
                            | 請勿包含您的個人資訊或挑釁字眼。
                            
                    .tip
                        i.far.fa-check-circle
                        p
                            | 避免政治與宗教評論以及提及與產品不相關之人事物。
            button.submit-review-btn 遞交意見

